.about-page {
  height: 80vh;
  width: 100%;
  position: relative;
}
.about-image {
  height: 100%;
  width: 100%;
  background-repeat: none;
}
.shadow-div {
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
.btns-about {
  display: flex;
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 10%;
}
#btn1-about,
#btn2-about {
  border-radius: 30px;
  height: 2rem;
  width: 20rem;
  color: aliceblue;
}
#btn2-about {
  margin-left: 20px;
  text-align: justify;
  background-color: orangered;
  justify-content: center;
  text-align: center;
  border: none;
}
#btn1-about {
  color: white;
  border: none;
  background-color: rgb(36, 7, 77);
  border: 2px solid white;
}
.animate-charcter {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 5vw;

  word-wrap: none !important;
}
.highlights {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-top: 10%;
  margin-left: 15%;
}
.circleicon {
  color: orangered;
  font-size: small !important;
}
.aboutcol2 {
  margin-top: 5%;
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
